service: tour-booking-api

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-southeast-1
  stage: ${opt:stage, 'dev'}
  memorySize: 512
  timeout: 30
  
  environment:
    NODE_ENV: ${self:provider.stage}
    APP_NAME: TourBookingAPI
  
  # Quy·ªÅn ghi logs
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - logs:CreateLogGroup
            - logs:CreateLogStream
            - logs:PutLogEvents
          Resource: '*'

functions:
  api:
    handler: dist/lambda.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY

package:
  individually: true
  patterns:
    - 'dist/**'
    - 'node_modules/**'
    - '!src/**'
    - '!test/**'
    - '!.env*'
    - '!.git/**'